# Doom files that must be ignored such as backup, copyrighted materials, etc.

*.backup1
*.backup2
*.backup3
*.autosave1
*.autosave2
*.autosave3
*.autosave4
*.autosave5

*.~lock
*.ods#
*.blend1
docs/DocShoot.md

# Compilation Outputs

outCompile

# temporary hide from upload because the corps are after us!
Mods/GZDoom/ZD-BringYourOwnUSB-SFW/music/Serek-katron/**/*.*
!Mods/GZDoom/ZD-BringYourOwnUSB-SFW/music/Serek-katron/Roland_GS/KY/WISH.MID
