# Render file no need..
Vacuum-Skoll-Endfield-Dark/*
!Vacuum-Skoll-Endfield-Dark/cursor.theme
!Vacuum-Skoll-Endfield-Dark/index.theme
!Vacuum-Skoll-Endfield-Dark/cursors_scalable
!Vacuum-Skoll-Endfield-Dark/hyprcursors
!Vacuum-Skoll-Endfield-Dark/manifest.hl
pngs